
.article i {
  display: block;
  font-size: 0.9em;
  margin: 2px 0;
}

.headline {
  display: block;
  font-size: 1.6em;
  margin-top: 20px;
}

.headline:hover {
  text-decoration: underline;
}

.mapContainer {
  width:100%;
  height: 512px;
}
