
.contentMain {
    max-width: 52em;
    margin: auto;
    min-height: calc(100vh - 3.6em);
    background: white;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    margin-top: 16px;

    padding: 0 32px;
}

h1.mainHeading {
    margin: 24px 0 2px 0;
    font-size: 1.4em;
}

h2.mainHeading {
    margin: 12px 0 2px 0;
    font-size: 1em;
    font-weight: bold;
}

h3.mainHeading {
    margin: 16px 0 2px 0;
    font-size: 0.9em;
    font-weight: bold;
}

.mapContainer {
    width:100%;
    height: calc(80vh);
    margin: 8px 0;
}

ul.activeList {
    list-style: none;
    margin: 6px auto;
    padding: 0;
    width: fit-content;
}

ul.activeList li {
    display: block;
    margin: 16px 0;
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 6px;
}

ul.activeList a.diseaseLink {
    font-size: 1em;
    font-weight: bold;
}

ul.activeList a.diseaseLink:hover {
    text-decoration: underline;
}

.riskContainer {
    display: block;
    margin: auto;
}
