.navbar {
    display: block;
    overflow: visible;
    border-bottom: 1px solid #eee;

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: stretch;
        align-content: stretch;
        width: 98%;
        height: 100%;
        margin: auto;
    }
}

.title {
    font-size: 1.4em;
    display: inline-block;
    padding: 0.6em 0.6em;
    text-align: center;
}

.element {
    display: inline-block;
    font-size: 1.1em;
    padding: 0.9em 0.6em;
    text-align: center;
}

.navbar a:hover {
    cursor: pointer;
}

.hover_darken {
    transition: 0.3s;
}

.hover_darken:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.hover_darken:active {
    background-color: rgba(0, 0, 0, 0.08);
}

// Search box.
.search_container {
    margin: 0.7em 1em;
    display: inline-block;
    height: 2em;
}

.search_container input {
    display: inline-block;
    font-size: 0.9em;
    height: 100%;
    width: 20em;
    background-color: transparent;
    border:none;
    border-bottom: 2px solid black;
    transition: 0.2s;

    &::placeholder {
        color: #222;
    }
}

.search_container input:focus {
    background-color: white;
    border-radius: 2px;
    padding-left: 6px;
}

.search_container button {
    display: inline-block;
    position: absolute;
    transform: translateX(-3em);
    height: 2.9em;
    width: 3em;
    border:none;
    background-color: transparent;
}

.search_container button:hover {
    cursor: pointer;
}

.search_container button:hover i {
    transform: scale(1.1);
}
