
.mapPopup {
    display: block;
    overflow-y: scroll;
    width: 100%;
    min-height: 2em;
    max-height: 16em;
}

.mapPopup h1 {
    display: inline-block;
    font-size: 1.4em;
    margin: 0 0 0 6px;
    font-style: italic;
}

.mapPopup h2 {
    font-size: 1.2em;
}

.report {
    padding: 2px 0;
    display: block;
}

.diseaseLinks {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}

.diseaseLink {
    display: inline-block;
    font-size: 1.4em;
    color: black !important;
}

.diseaseLink:hover {
    text-decoration: underline;
}

.warn {
    float: left;
    font-size: 1.6em;
}

ul.articleList {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.articleList li {
    border-left: 2px solid blue;
    padding: 0 8px;
    margin: 0 0 10px 0;
}

ul.articleList a {
    color: black;
}

ul.articleList a:hover {
    text-decoration: underline;
}

ul.articleList div {
    font-size: 1.25em;
}

