{
    "rules": {
        "semi": ["error", "always"],
        "quotes": ["error", "double"],
        "no-undef": "error",
        "no-extra-semi": "warn"
    },
	"parserOptions": {
        "ecmaVersion": 9
    },
    "plugins": ["jest"],
    "env": {
        "node": true,
        "es6": true,
        "jest/globals": true
    }
}
